// Place all the styles related to the Calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-link.active{
  font-weight: bolder;
  font-size: larger;
}

.calendar-header{
  min-width: 10rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(200, 200, 200, 1);
}

.calendar-row{
  height: 10rem;
}

.signed-up{
  background-color: rgba(0, 0, 0, 0.1);
}
