<nav class="navbar navbar-dark bg->">
  <div class="btn btn-sedondary">
    <%= link_to 'Calendar', calendar_default_path %>
  </div>
  <div class="btn btn-secondary">
    <%= link_to 'Companionships', companionships_path %>
  </div>

</nav>
