<nav class="navbar navbar-dark bg-dark">
  <div class="btn btn-secondary">
    <%= link_to 'Companionships', companionships_path %>
  </div>
  <%#= link_to 'Appointments', appointments_path %>

</nav>
