<nav class="navbar navbar-light container">
  <div class="btn btn-outline-secondary">
    <%= link_to 'Calendar', calendar_default_path %>
  </div>
  <div class="btn btn-outline-secondary">
    <%= link_to 'Companionships', companionships_path %>
  </div>

</nav>
